<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1016544459577-brbv9rs5hihb2dn6brfomvlb0iogmikj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016544459577-brbv9rs5hihb2dn6brfomvlb0iogmikj</string>
	<key>API_KEY</key>
	<string>AIzaSyDPf5vAzGll4GvlaMW_MSBOznTDUHNC8jE</string>
	<key>GCM_SENDER_ID</key>
	<string>1016544459577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iggi-jimenez.PickUp</string>
	<key>PROJECT_ID</key>
	<string>pickup-d16df</string>
	<key>STORAGE_BUCKET</key>
	<string>pickup-d16df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016544459577:ios:8c49a424875ebf51d586e8</string>
</dict>
</plist>